<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="/">Library Home</a>
                <a class="nav-link" href="/books/add-book">Add Book</a>
                <a class="nav-link" href="/books">Show Books</a>
                <form class="d-flex" roll=" search" action="/books/search" method="get">
                    <input class="form-control mr-sm-2 search-bar" type="search" aria-label="Search" name="dsearch"
                        placeholder="Search">
                    <button class="btn btn-secondary my-2 my-sm-0 search-btn " type="submit">Search</button>
                </form>

            </div>
        </div>
    </div>
</nav>
<style>
    .nav-link {
        color: rgba(0, 0, 0, 0.9);
    }

    .navbar {
        padding: 15px !important;

    }

    .nav-link:hover {
        font-weight: 700;
    }


    .bg-light {
        background-color: #c6c6c6 !important;
    }

    .search-bar {
        margin-left: 20px;
        height: 38px;
    }

    .search-btn {
        height: 38px;
        padding: 5px 12px !important;

    }
</style>