<!DOCTYPE html>
<html lang="en">

<%- include('partials/head.ejs') %>

    <body>
        <%- include('partials/nav.ejs') %>
            <div class="container">
                <div class="row">
                    <h2> Add a book to the library</h2>
                    <form method="post" action="/books">

                        <label for="bookName" class="form-label name-label">Name</label>
                        <input type="text" name="bookName" class="form-control" id="bookName" required /></br>

                        <label for="description" class="form-label">Description</label>
                        <input type="text" name="description" class="form-control" id="description" required /></br>

                        <label for="author" class="form-label">Author</label>
                        <input type="text" name="author" class="form-control" id="author" required /></br>

                        <label for="pageCount" class="form-label">Page Count</label>
                        <input type="number" name="pageCount" class="form-control" id="pageCount" required /></br>



                        <!-- <label for="publisher" class="form-label">Publisher</label>
                        <input type="text" name="publisher" class="form-control" id="publisher" required /></br>

                        <label for="publishDate" class="form-label">Date of Publication</label>
                        <input type="text" name="publishDate" class="form-control" id="publishDate" /></br> -->


                        <label for="createdAt" class="form-label">Created At</label>
                        <input type="date" name="createdAt" class="form-control" id="createdAt" default="Date.now"
                            required /></br>

                        <label for="genre" class="form-label">Genre</label>
                        <input type="text" name="genre" class="form-control" id="genre" /></br>

                        <label for="location" class="form-label">Location</label>
                        <input type="text" name="location" class="form-control" id="location" required /></br>


                        <label for="status" class="form-label">Book Status: </label>
                        <input type="radio" name="status" value="IN" /><span> IN </span>

                        <input type="radio" name="status" value="OUT" /> <span> OUT </span>
                        <input type="radio" name="status" value="NA" /> <span> Not Available </span>></br>
                        <!-- <label for="cover" class="form-label">Cover</label>
                    <input type="text" name="cover" class="form-control" id="cover" /></br> -->

                        <button type="submit" class="btn ">Save New Book</button>
                    </form>
                </div>
            </div>
    </body>

</html>
<style>
    body {
        background-color: #3E342E;
    }

    .bg-light {
        background-color: #918982 !important;
    }

    h2 {
        margin-bottom: 25px;
        color: #DFDEDA;
    }

    label,
    span {
        color: #DFDEDA;
    }


    .navigation {
        margin-bottom: 50px;
    }

    .navbar {
        padding: 20px;

    }



    .container {
        margin-top: 50px;

    }

    .btn {
        margin: 40px 0;
        padding: 13px 20px;
        background-color: #025940;
        color: #DFDEDA;

    }
</style>